<div class="containre-fluid border-top border-3 px-3 px-md-6 px-lg-12">
    <div class="container-xxl mx-auto">
        <p class="text-center py-9 noto-tc-sans">© 7TAO七逃. All Rights Reserved</p>
    </div>
</div>