.bg-img {
	background-image: url("../images/event/13.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
	height: 518px;
}

// event-genre-img
@media (min-width: 1400px) {
	.event-genre-img {
		width: 80px;
		height: 80px;
	}
}

@media (min-width: 1200px) {
	.event-genre-img {
		width: 60px;
		height: 60px;
	}
}

@media (min-width: 375px) {
	.event-genre-img {
		width: 40px;
		height: 40px;
	}
}

// font-explore-more
@media (min-width: 992px) {
	.font-explore-more {
		font-size: 48px;
	}
}

@media (min-width: 768px) {
	.font-explore-more {
		font-size: 36px;
	}
}

@media (min-width: 576px) {
	.font-explore-more {
		font-size: 24px;
	}
}


.event-img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

// gpt
.gpt-img {
	width: 100%;
	height: auto;
	max-height: 317px;
	object-fit: cover;
}

.link-tag {
	border-top: 1px solid $primary;
	border-bottom: 1px solid $primary;
	border-right: 1px solid $primary;
	border-left: 4px solid $primary;

	&:hover {
		transform: scale(1.1);
	}
}

// rotate
.h2-rotate {
	transform: translate(-50%, -50%) rotate(-4deg);
}

.rotate-card {
	&:nth-child(2n) {
		transform: translate(0%, 0%) rotate(1deg);
	}

	&:nth-child(3) {
		transform: translate(0%, 0%) rotate(-2deg);
	}
}

.rotate-img{
    object-fit: cover;

}