.bg-img{
    background-image: url("../images/event/13.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 518px;
}

.event-img{
    object-fit: contain; 
    max-width: 416px; 
    max-height: 255px;
}

.event-jpeg{
    object-fit: contain;
}