<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>7TAO 活動訂票網</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../assets/icofont/icofont.css">

</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="container-fluid mt-9 px-3 px-md-6 px-lg-12">
      <div class="container-xxl ">
        <div class="row">
          <div class="col-12  mb-11 d-flex  flex-column justify-content-between bg-img ">
            <h2 class="col-4 pt-11 ps-11 fs-1 text-white">19 MAY 2023</h2>
            <div>
              <h3 class=" col-8  mx-auto  mb-5 fs-5 text-center text-white noto-tc-serif">隔牆有耳-沒有草東的派對</h3>
              <p class="col-8 d-none d-md-block mx-auto mb-7 text-white noto-tc-sans">
                你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！
                帶上啤酒、野餐墊，讓我們在Live House外面一起開場「沒有草東的派對」吧！</p>
            </div>
          </div>
        </div>

        <div class="container-xxl px-0">
          <div class="row row-cols-3  row-cols-lg-6 g-3 mb-3">
            <div class="col ">
              <div class="card d-flex flex-column align-items-center border border-2 py-6 py-md-12 py-lg-6 py-xl-6 py-xxl-8 px-9 px-md-6  px-xxl-10">
                <img src="../assets/images/cate01.svg" alt="cate01.svg" width="80" height="80" class="mb-3">
                <p class="noto-tc-serif fs-5">演出</p>
              </div>
            </div>

            <div class="col ">
              <div class="card d-flex flex-column align-items-center border border-2 py-6 py-md-12 py-lg-6 py-xl-6 py-xxl-8 px-9 px-md-6  px-xxl-10">
                <img src="../assets/images/cate02.svg" alt="cate02.svg" width="80" height="80" class="mb-3">
                <p class="noto-tc-serif fs-5">聯誼</p>
              </div>
            </div>

            <div class="col ">
              <div class="card d-flex flex-column align-items-center border border-2 py-6 py-md-12 py-lg-6 py-xl-6 py-xxl-8 px-9 px-md-6  px-xxl-10">
                <img src="../assets/images/cate03.svg" alt="cate03.svg" width="80" height="80" class="mb-3">
                <p class="noto-tc-serif fs-5">展覽</p>
              </div>
            </div>

            <div class="col ">
              <div class="card d-flex flex-column align-items-center border border-2 py-6  py-md-12 py-lg-6 py-xl-6 py-xxl-8 px-9 px-md-6  px-xxl-10">
                <img src="../assets/images/cate04.svg" alt="cate04.svg" width="80" height="80" class="mb-3">
                <p class="noto-tc-serif fs-5">美食</p>
              </div>
            </div>
          

            <div class="col ">
              <div class="card d-flex flex-column align-items-center border border-2 py-6 py-md-12 py-lg-6 py-xl-6 py-xxl-8 px-9 px-md-6  px-xxl-10">
                <img src="../assets/images/cate05.svg" alt="cate05.svg" width="80" height="80" class="mb-3">
                <p class="noto-tc-serif fs-5">戶外</p>
              </div>
            </div>

            <div class="col ">
              <div class="card bg-dark d-flex flex-column align-items-center border border-2 py-6 py-md-12 py-lg-2 py-xl-2 py-xxl-7 px-9 px-md-6  px-xxl-9">
                <a href=# class="noto-tc-serif fs-3  text-secondary ">探索</a>
                <a href=# class="noto-tc-serif fs-3  text-secondary ">更多</a>

              </div>
            </div>

          </div>


        

          <div class="row border border-3 mb-8">
            <div class="col-12 d-flex justify-between align-items-center">
              <h2 class="fs-1">RECENT</h2>
              <h2 class="noto-tc-serif ms-auto">近期活動</h2>
            </div>
          </div>

        

          </div>
        </div>
      </div>
      <%- include('./layout/footer'); -%>


        <!-- <script type="module" src="../main.js"></script> -->
        <script type="module" src="../main.js"></script>


</body>

</html>