<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>7TAO 活動訂票網</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="../assets/icofont/icofont.css" />
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="container-fluid mt-9 px-3 px-md-6 px-lg-12">
      <!-- banner -->
      <div class="container-xxl">
        <div class="row">
          <div class="col-12 mb-11 d-flex flex-column justify-content-between bg-img">
            <h2 class="col-4 pt-11 ps-11 fs-1 text-white">19 MAY 2023</h2>
            <div>
              <h3 class="col-8 mx-auto mb-5 fs-5 text-center text-white noto-tc-serif">
                隔牆有耳-沒有草東的派對
              </h3>
              <p class="col-8 d-none d-md-block mx-auto mb-7 text-white noto-tc-sans">
                你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！
                帶上啤酒、野餐墊，讓我們在Live
                House外面一起開場「沒有草東的派對」吧！
              </p>
            </div>
          </div>
        </div>
      </div>

      <!--  event genre -->
      <div class="container-xxl px-0">
        <div class="row row-cols-3 row-cols-lg-6 g-3 mb-11">
          <div class="col">
            <div
              class="card d-flex flex-column align-items-center border border-2 py-6 py-md-12 py-lg-6 py-xl-6 py-xxl-8 px-9 px-md-6 px-xxl-10 h-100">
              <img src="../assets/images/cate01.svg" alt="cate01.svg" class="mb-3 event-genre-img" />
              <p class="noto-tc-serif ">演出</p>
            </div>
          </div>

          <div class="col">
            <div
              class="card d-flex flex-column align-items-center border border-2 py-6 py-md-12 py-lg-6 py-xl-6 py-xxl-8 px-9 px-md-6 px-xxl-10 h-100">
              <img src="../assets/images/cate02.svg" alt="cate02.svg" class="mb-3 event-genre-img" />
              <p class="noto-tc-serif ">聯誼</p>
            </div>
          </div>

          <div class="col">
            <div
              class="card d-flex flex-column align-items-center border border-2 py-6 py-md-12 py-lg-6 py-xl-6 py-xxl-8 px-9 px-md-6 px-xxl-10 h-100">
              <img src="../assets/images/cate03.svg" alt="cate03.svg" class="mb-3 event-genre-img" />
              <p class="noto-tc-serif ">展覽</p>
            </div>
          </div>

          <div class="col">
            <div
              class="card d-flex flex-column align-items-center border border-2 py-6 py-md-12 py-lg-6 py-xl-6 py-xxl-8 px-9 px-md-6 px-xxl-10 h-100">
              <img src="../assets/images/cate04.svg" alt="cate04.svg" class="mb-3 event-genre-img" />
              <p class="noto-tc-serif ">美食</p>
            </div>
          </div>

          <div class="col">
            <div
              class="card d-flex flex-column align-items-center border border-2 py-6 py-md-12 py-lg-6 py-xl-6 py-xxl-8 px-md-6 px-xxl-10 h-100">
              <img src="../assets/images/cate05.svg" alt="cate05.svg" class="mb-3 event-genre-img" />
              <p class="noto-tc-serif ">戶外</p>
            </div>
          </div>

          <div class="col">
            <div
              class="card bg-dark d-flex flex-column align-items-center justify-content-center border border-2  py-md-12 py-lg-2 py-xl-2 py-xxl-7  px-md-6 px-xxl-9  h-100 ">
              <a href="#" class="noto-tc-serif font-explore-more text-secondary">探索</a>
              <a href="#" class="noto-tc-serif font-explore-more text-secondary">更多</a>
            </div>
          </div>
        </div>
      </div>

      <!-- font recent event -->
      <div class="container-xxl">
        <div class="row border border-3 mb-8">
          <div class="col-12 d-flex justify-between align-items-center py-7 px-8">
            <h2 class="fs-1">RECENT</h2>
            <h2 class="noto-tc-serif ms-auto">近期活動</h2>
          </div>
        </div>
      </div>

      <!-- recent event cards -->
      <div class="container-xxl">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-7 mb-11 ">
          <!-- 邪典電影 -->
          <div class="col  d-flex align-items-stretch">
            <div class="card border-0 bg-bg-color mb-8  h-100">
              <div class="card-header border-0 bg-bg-color px-0">
                <h3 class="fs-4 fs-lg-3 border-bottom border-3  border-primary">19 MAY 2023</h3>
              </div>
              <div class="card-body p-0">
                <img src="../assets/images/event/01.jpg" alt="event/01.jpg" class="img-fluid mb-3 evemt-img"
                  style="width: 100%; max-height: 245px; min-height: 245px; object-fit: cover;">
                <h3 class="fs-5 mb-3 noto-tc-serif">邪典電影派對——房間</h3>
                <p class="mb-4">你有聽說過「大災難家」裡面的主角 Tommy Wiseau
                  製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...
                </p>
              </div>
              <div
                class="card-footer border-top border-bottom border-primary border-2 bg-bg-color d-flex justify-content-between p-0">
                <div>
                  <a href="#" class="d-flex">
                    <img src="../assets/images/sparkler.png" alt="sparkler.png" width="24" height="24">
                    <p>社群活動</p>
                  </a>
                </div>
                <a href="#">開賣中>></a>
              </div>
            </div>
          </div>
          <!-- 怪舞俱樂部 -->
          <div class="col  d-flex align-items-stretch">
            <div class="card border-0 bg-bg-color mb-8  h-100">
              <div class="card-header border-0 bg-bg-color px-0">
                <h3 class="fs-4 fs-lg-3 border-bottom border-3  border-primary">23 MAY 2023</h3>
              </div>
              <div class="card-body p-0">
                <img src="../assets/images/event/02.jpg" alt="event/02.jpg" class="img-fluid mb-3 evemt-img"
                  style="width: 100%; max-height: 245px; min-height: 245px; object-fit: cover;">
                <h3 class="fs-5 mb-3 noto-tc-serif">怪舞俱樂部</h3>
                <p class="mb-4">覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一次的舞會中選出舞步最怪的...</p>
                </p>
              </div>
              <div
                class="card-footer border-top border-bottom border-primary border-2 bg-bg-color d-flex justify-content-between p-0">
                <div>
                  <a href="#" class="d-flex">
                    <img src="../assets/images/sparkler.png" alt="sparkler.png" width="24" height="24">
                    <p>演出</p>
                  </a>
                </div>
                <a href="#">開賣中>></a>
              </div>
            </div>
          </div>
          <!-- 哈利波特馬拉松 -->
          <div class="col  d-flex align-items-stretch">
            <div class="card border-0 bg-bg-color mb-8  h-100">
              <div class="card-header border-0 bg-bg-color px-0">
                <h3 class="fs-4 fs-lg-3 border-bottom border-3  border-primary">30 MAY 2023</h3>
              </div>
              <div class="card-body p-0">
                <img src="../assets/images/event/03.jpg" alt="event/03.jpg" class="img-fluid mb-3  evemt-img"
                  style="width: 100%; max-height: 245px; min-height: 245px; object-fit: cover;">
                <h3 class="fs-5 mb-3 noto-tc-serif">哈利波特馬拉松</h3>
                <p class="mb-4">每次身邊有人開啟哈利波特的話題，自己永遠都是聽不懂的那個麻瓜？看大家在討論魁地奇、用咒語鬥法的時候，自己永遠是陪笑的那個人？穿好你的法袍、帶上你的法杖...</p>
              </div>
              <div
                class="card-footer border-top border-bottom border-primary border-2 bg-bg-color d-flex justify-content-between p-0">
                <div>
                  <a href="#" class="d-flex">
                    <img src="../assets/images/sparkler.png" alt="sparkler.png" width="24" height="24">
                    <p>聯誼</p>
                  </a>
                </div>
                <a href="#">開賣中>></a>
              </div>
            </div>
          </div>
          <!-- 皮卡丘排球大賽 -->
          <div class="col  d-flex align-items-stretch">
            <div class="card border-0 bg-bg-color mb-8 h-100">
              <div class="card-header border-0 bg-bg-color px-0">
                <h3 class="fs-4 fs-lg-3 border-bottom border-3  border-primary">12 JUNE 2023</h3>
              </div>
              <div class="card-body p-0 " style="max-width: 100%;">
                <img src="../assets/images/event/04.jpg" alt="event/04.jpg" class="mb-3 img-fluid"
                  style="width: 100%; max-height: 245px; object-fit: cover;">
                <h3 class="fs-5 mb-3 noto-tc-serif">皮卡丘排球大賽</h3>
                <p class="mb-4">
                  還記得小時候玩的小遊戲嗎？總是有朋友吹噓自己獨孤求敗、只求一敗？是時候該展現真正的實力了！本活動採用瑞士制賽程，以絕對公平的方式進行，是時候該證明自己...
                </p>
              </div>
              <div
                class="card-footer border-top border-bottom border-primary border-2 bg-bg-color d-flex justify-content-between p-0">
                <div>
                  <a href="#" class="d-flex">
                    <img src="../assets/images/sparkler.png" alt="sparkler.png" width="24" height="24">
                    <p>遊戲競賽</p>
                  </a>
                </div>
                <a href="#">開賣中>></a>
              </div>
            </div>
          </div>
          <!-- 酒精路跑 -->
          <div class="col  d-flex align-items-stretch">
            <div class="card border-0 bg-bg-color mb-8  h-100">
              <div class="card-header border-0 bg-bg-color px-0">
                <h3 class="fs-4 fs-lg-3 border-bottom border-3  border-primary">25 JUNE 2023</h3>
              </div>
              <div class="card-body p-0">
                <img src="../assets/images/event/05.jpg" alt="event/05.jpg" class="mb-3 img-fluid"
                  style="width: 100%; min-height: 245px; max-height: 245px; object-fit: cover;">
                <h3 class="fs-5 mb-3 noto-tc-serif">酒精路跑</h3>
                <p>
                  身邊總是有對自己酒量有高度自信的朋友嗎？拉著他/她一起來參加酒精路跑吧！一起拍下第一杯直到倒下為止的照片，一起喝遍市區內各家極具品味的酒吧。
                </p>
              </div>
              <div
                class="card-footer border-top border-bottom border-primary border-2 bg-bg-color d-flex justify-content-between p-0">
                <div>
                  <a href="#" class="d-flex">
                    <img src="../assets/images/sparkler.png" alt="sparkler.png" width="24" height="24">
                    <p>社群活動</p>
                  </a>
                </div>
                <a href="#">開賣中>></a>
              </div>
            </div>
          </div>
          <!-- 展覽——我的房間 -->
          <div class="col  d-flex align-items-stretch">
            <div class="card border-0 bg-bg-color mb-8  h-100">
              <div class="card-header border-0 bg-bg-color px-0">
                <h3 class="fs-4 fs-lg-3 border-bottom border-3  border-primary">9 July 2023</h3>
              </div>
              <div class="card-body p-0">
                <img src="../assets/images/event/06.jpg" alt="event/06.jpg" class="mb-3 img-fluid"
                  style="width: 100%; min-height: 245px; max-height: 245px; object-fit: cover;">
                <h3 class="fs-5 mb-3 noto-tc-serif">展覽——我的房間</h3>
                <p class="mb-4">每個人的房間總會有那麼一兩個能代表自己的物事，或許是再平凡不過的牙刷、馬克杯，或許有那些別人的房間從沒出現過的小東西——那些能定義自己的特別的東西。</p>
              </div>
              <div
                class="card-footer border-top border-bottom border-primary border-2 bg-bg-color d-flex justify-content-between p-0">
                <div>
                  <a href="#" class="d-flex">
                    <img src="../assets/images/sparkler.png" alt="sparkler.png" width="24" height="24">
                    <p>展覽</p>
                  </a>
                </div>
                <a href="#">開賣中>></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- online event font -->
      <div class="container-xxl mb-12">
        <div class="row border border-3 mb-12">
          <div class="col-12 d-flex justify-between align-items-center py-7 px-8">
            <h2 class="fs-1">ONLINE</h2>
            <h2 class="noto-tc-serif ms-auto">線上活動</h2>
          </div>
        </div>
      </div>

      <!-- GPT -->
      <div class="container-xxl mb-9">
        <div class="row d-flex gx-7">
          <div class="col-12 col-md-7">
            <img src="../assets/images/event/online.jpg" alt="oline.jpg" class="gpt-img ">
          </div>
          <div class="col-12 col-md-5 d-flex flex-column">
            <h3 class="fs-4 noto-tc-serif mb-5">切特居批踢</h3>
            <div class="d-flex mb-8">
              <div class=" link-tag py-1 px-7 me-2 ">
                <p>競賽</p>
              </div>
              <div class=" link-tag py-1 px-7 me-2 ">科技
              </div>
              <div class=" link-tag py-1 px-7 me-2 ">有趣
              </div>
            </div>
            <div class="mb-8 me-auto ">
              <p>
                最近網路上很流行的AI程式 ChatGPT，可以用來聊天或是查詢、整理各種資料，不同的應用方式如雨後春筍般冒出來。
                這個活動讓大家把自己最有特色的使用方法提出來讓大家參考，也會投票出最有趣的用法。
                該讓其他人知道自己使用 ChatGPT 的姿勢才是最特別的那個了！
              </p>
            </div>
            <div class="bg-primary mt-auto text-center">
              <a href="#" class="border border-1 fs-5  text-white  mx-auto text-center">查看活動詳情>></a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <%- include('./layout/marquee'); -%>
      <!-- rotate card -->
      <div class="container-xxl mb-10">
        <div class="row">
          <ul class="row  row-cols-1 row-cols-md-2 row-cols-lg-4 g-10 g-md-4 mt-0 pe-0">
            <li class="col rotate-card">
              <div class="item border border-2 border-dark p-3 pb-5 position-relative">
                <h2 class="position-absolute top-0 start-50 fs-6  fs-6   bg-white px-3 py-2 fw-bold h2-rotate">
                  社群活動</h2>
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/album/01.jpg?raw=true"
                  class="img-fluid rotate-img" alt="社群活動" style="min-height: 274px; max-width: 100%">
                <p class="pt-3 noto-tc-serif">無聲派對-閉閉嘴dancing</p>
              </div>
            </li>
            <li class="col rotate-card">
              <div class="item border border-2 border-dark p-3 pb-5 position-relative">
                <h2 class="position-absolute top-0 start-50 fs-6  bg-white px-3 py-2 fw-bold h2-rotate">
                  藝文活動</h2>
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/album/02.jpg?raw=true"
                  class="img-fluid  rotate-img" alt="藝文活動" style="min-height: 274px; max-width: 100%;">
                <p class="pt-3 noto-tc-serif">搶救老店大作戰</p>
              </div>
            </li>
            <li class="col rotate-card">
              <div class="item border border-2 border-dark p-3 pb-5 position-relative">
                <h2 class="position-absolute top-0 start-50 fs-6  bg-white px-3 py-2 fw-bold h2-rotate">
                  自我覺察</h2>
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/album/03.jpg?raw=true"
                  class="img-fluid rotate-img" alt="自我覺察" style="min-height: 274px; max-width: 100%;">
                <p class="pt-3 noto-tc-serif">內觀修行-部落篇</p>
              </div>
            </li>
            <li class="col rotate-card">
              <div class="item border border-2 border-dark p-3 pb-5 position-relative">
                <h2 class="position-absolute top-0 start-50 fs-6   bg-white px-3 py-2 fw-bold h2-rotate">
                  聯誼活動</h2>
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/album/04.jpg?raw=true"
                  class="img-fluid rotate-img" alt="聯誼活動" style="max-height: 274px; min-width: 100%;">
                <p class="pt-3 noto-tc-serif">賞櫻野餐</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <%- include('./layout/marquee'); -%>

        <!-- follow subscribe -->
        <div class="container-xxl mb-12">
          <div class="row d-flex g-7 g-sm-0">
            <div class="col-12 col-sm-6 h-100">
              <div class="border border-2 border-primary border-end-0 px-8">
                <h2>#FOLLOW US</h2>
              </div>

              <div class="border border-2 border-primary border-end-0 border-top-0 px-8 py-8">
                <p class="mb-8">想第一時間獲得新奇有趣的活動資訊？</br>
                  追蹤我們的社群吧！</br>
                  也歡迎你聯繫我們，提供好玩有趣的活動企劃。</p>
                <div class="d-flex flex-column gap-7 px-0">
                  <a href="mailto:7tao.event@gmail.com">
                    <i class="icofont-ui-email text-white p-2 me-5  bg-dark" style="width: 32px; height: 32px;"></i>7tao.event@gmail.com
                  </a>
                  <a href="tel:09123123123"><i class="icofont-phone text-white bg-dark p-2 me-5" style="width: 32px; height: 32px;"></i>09123123123</a>
                  <a href="#"><i class="icofont-facebook text-white bg-dark p-2 me-5" style="width: 32px; height: 32px;"></i>7TAO七逃</a>
                </div>
              </div>

            </div>

            <div class="col-12 col-sm-6 h-100">
              <div class="border border-2 border-primary  px-8 ">
                <h2>#SUBSCRIBE US</h2>
              </div>

              <div class="border border-2 border-primary border-top-0 px-8 py-8">
                <p class="mb-8">訂閱電子報送折價券！</br>
                  定期精選文章資訊及最新優惠資訊，</br>
                  還不通通給我訂閱起來？
                </p>
                <div class="mb-8">
                  <label for="exampleFormControlInput1" class="form-label"></label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="請輸入email">
                </div>
                
              </div>

              <div class="container-fluid bg-primary text-center px-0 border-0">
                <a class="text-white fs-5 py-2" href="#">確認訂閱 >></a>
              </div>
            </div>
          </div>
        </div>
        <!-- try -->
        <!-- <div class="container-xxl mb-12">
          <div class="row">
            <div class="col-6">
              <div class="card h-100 bg-bg-color d-flex flex-column flex-grow-1">
                <div class="card-header bg-bg-color border border-primary border-2 border-end-1">
                  123
                </div>
                <div class="card-body bg-bg-color  border border-primary  ">
                  想第一時間獲得新奇有趣的活動資訊？</br>
                  追蹤我們的社群吧！</br>
                  也歡迎你聯繫我們，提供好玩有趣的活動企劃。</br>

                  7tao.event@gmail.com</br>
                  09123123123</br>
                  7TAO七逃</br>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="card h-100 bg-bg-color d-flex flex-column flex-grow-1">
                <div class="card-header bg-bg-color border border-primary border-2 border-end-1">
                  123
                </div>
                <div class="card-body bg-bg-color  border border-primary  ">
                  想第一時間獲得新奇有趣的活動資訊？</br>
                  追蹤我們的社群吧！</br>
                  也歡迎你聯繫我們，提供好玩有趣的活動企劃。</br>

                  7tao.event@gmail.com</br>
                  09123123123</br>
                  7TAO七逃</br>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <!-- try -->

        <!-- quote -->
        <div class="container-fluid mx-auto border-top border-3 py-12">
          <div class="container-xxl text-center">
            <h3 class="fs-4 noto-tc-serif mb-4">此刻打盹，你將做夢；此刻學習，你將圓夢</h3>
            <p class="noto-tc-serif">——我也不知道誰說的</p>
          </div>
        </div>

        <%- include('./layout/footer'); -%>

          <!-- <script type="module" src="../main.js"></script> -->
          <script type="module" src="../main.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
</body>

</html>