<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../assets/icofont/icofont.css">
</head>

<body class="vh-100 d-flex flex-column ">
  <%- include('./layout/header'); -%>
    <div class="container-fluid flex-grow-1 px-3 px-md-6 px-lg-12">
      <div class="container-xl mx-auto pb-login-pb pt-12  ">
        <div class="row flex-column">
          <div class="col-12 col-md-4 mx-auto text-center">
            <!-- icon、會員登入 -->
              <svg class="mb-5" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_101_1154)">
                <path
                  d="M31.5 16C31.5 16 30.18 16.25 27.705 16.5C25.23 16.75 21.605 17 17 17C17 26.21 16 31.5 16 31.5C16 31.5 15.75 30.18 15.5 27.705C15.25 25.23 15 21.605 15 17C5.79 17 0.5 16 0.5 16C0.5 16 1.82 15.75 4.295 15.5C6.77 15.25 10.395 15 15 15C15 5.79 16 0.5 16 0.5C16 0.5 17 5.79 17 15C26.21 15 31.5 16 31.5 16Z"
                  fill="#030303" />
                <path d="M17 14C20 10 23 9 23 9C21.7111 11.2867 20.0168 13.3199 18 15" fill="#030303" />
                <path d="M14 15C10 12 9 9 9 9C11.2867 10.2889 13.3199 11.9832 15 14" fill="#030303" />
                <path d="M15 18C12 22 9 23 9 23C10.2889 20.7133 11.9832 18.6801 14 17" fill="#030303" />
                <path d="M18 17C22 20 23 23 23 23C20.7133 21.7111 18.6801 20.0168 17 18" fill="#030303" />
                <path
                  d="M16 18.5C17.3807 18.5 18.5 17.3807 18.5 16C18.5 14.6193 17.3807 13.5 16 13.5C14.6193 13.5 13.5 14.6193 13.5 16C13.5 17.3807 14.6193 18.5 16 18.5Z"
                  fill="#030303" />
              </g>
              <defs>
                <clipPath id="clip0_101_1154">
                  <rect width="32" height="32" fill="white" />
                </clipPath>
              </defs>
            </svg>
            <h2 class="fs-6 mb-5 text-center noto-tc-serif">會員登入</h2>
          </div>
          <!-- account -->
          <div class="row">
            <div class="col-12 col-md-4 mx-auto">
              <form>
                <div class="mb-7">
                  <label for="exampleInputEmail1 " class="form-label">帳號</label>
                  <input type="email" class="form-control border border-primary border-2" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="請輸入帳號">
                </div>
                <div class="mb-7">
                  <label for="exampleInputPassword1" class="form-label">密碼</label>
                  <input type="password" class="form-control border border-primary border-2" id="exampleInputPassword1" placeholder="請輸入密碼">
                </div>
                <div class="d-grid gap-2">
                  <button type="submit " class="btn btn-primary">登入 >></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>